<!DOCTYPE html>
<html ng-app="app">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<ng-view></ng-view>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

<!-- Template -->
<script type="text/ng-template" id="/todos.html">
    Search: <input type="text" ng-model="query">
    <button ng-click="search(query)">Search</button>
    <h1>Search Results: </h1>
    <ul>
        <li ng-repeat="result in results">
            <h3>{{ result.url }}</h3>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="/todoDetails.html">
    <h1>Search Results: </h1>
    <ul>
        <li ng-repeat="result in results">
            <h3>{{ result.url }}</h3>
        </li>
    </ul>

    <!--<h1>{{ todo.name }}</h1>-->
    <!--completed: <input type="checkbox" ng-model="todo.completed"><br>-->
    <!--note: <textarea ng-model="todo.note"></textarea><br><br>-->

    <!--<button ng-click="update()">Update</button>-->
    <!--<button ng-click="remove()">Remove</button>-->
    <!--<a href="/">Cancel</a>-->
</script>


<script>
    angular.module('app', ['ngRoute', 'ngResource'])

    //---------------
    // Services
    //---------------

            .factory('KnownUrl', ['$resource', function ($resource) {
                return $resource('/search/', null, {
                    'get': {method: 'GET', isArray: true}
                });
            }])

            //---------------
            // Controllers
            //---------------

            .controller('TodoController', ['$scope', 'KnownUrl', function ($scope, KnownUrl) {
                $scope.results = [];

//                $scope.save = function () {
//                    if (!$scope.newTodo || $scope.newTodo.length < 1) return;
//                    var todo = new Todos({name: $scope.newTodo, completed: false});
//
//                    todo.$save(function () {
//                        $scope.todos.push(todo);
//                        $scope.newTodo = ''; // clear textbox
//                    });
//                }
//
//                $scope.update = function (index) {
//                    var todo = $scope.todos[index];
//                    Todos.update({id: todo._id}, todo);
//                    $scope.editing[index] = false;
//                }
//
//                $scope.edit = function (index) {
//                    $scope.editing[index] = angular.copy($scope.todos[index]);
//                }
//
//                $scope.cancel = function (index) {
//                    $scope.todos[index] = angular.copy($scope.editing[index]);
//                    $scope.editing[index] = false;
//                }
//
//                $scope.remove = function (index) {
//                    var todo = $scope.todos[index];
//                    Todos.remove({id: todo._id}, function () {
//                        $scope.todos.splice(index, 1);
//                    });
//                }

                $scope.search = function (query) {
                    $scope.results = []
                    console.log(query);
//                    console.log(KnownUrl);
                    $scope.results = KnownUrl.get(
                            {
                                $and: [
                                    {
                                        status: "indexed"
                                    },
                                    {
                                        content: {
                                            hints : {
                                                $in: query.split(" ")
                                            }
                                        }
                                    }

                                ]

                            }
                    ).sort({
                        score: -1
                    });
                }

            }])

            .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'KnownUrl', '$location', function ($scope, $routeParams, KnownUrl, $location) {


                console.log($routeParams.search);
                $scope.todos = KnownUrl.find(
                        {
                            content: {
                                hints: {
                                    $contains: $routeParams.search
                                }
                            }
                        },
                        function (error, KnownUrlModels) {
                            console.log(KnownUrlModels);
                        }
                );
                console.log($scope.todos);

//              $scope.remove = function(){
//                  Todos.remove({id: $scope.todo._id}, function(){
//                      $location.url('/');
//                  });
//              }
            }])

            //---------------
            // Routes
            //---------------

            .config(['$routeProvider', function ($routeProvider) {
                $routeProvider
                        .when('/', {
                            templateUrl: '/todos.html',
                            controller: 'TodoController'
                        })

                        .when('/:search', {
                            templateUrl: '/todoDetails.html',
                            controller: 'TodoDetailCtrl'
                        });
            }]);
</script>
</body>
</html>
